Source: openrtm-aist
Priority: extra
Maintainer: Thomas Moulard <thomas.moulard@gmail.com>
Build-Depends: debhelper (>= 9), cmake (>= 2.6),
	       doxygen (>= 1.6.3),
	       graphviz,
	       libboost-all-dev,
	       uuid-dev,
	       libomniorb4-dev,
	       omniidl,
	       omniorb-nameserver,
	       python-yaml,
	       libelf-dev
Standards-Version: 3.9.3
Section: contrib/science
Homepage: http://www.openrtm.org/
Vcs-Git: git://github.com/thomas-moulard/openrtm-aist-deb.git
Vcs-Browser: https://github.com/thomas-moulard/openrtm-aist-deb

Package: libcoil
Architecture: any
Pre-depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Internal OpenRTM library
 Internal OpenRTM library which should only be used in
 in coordination with libopenrtm.
 .
 This package contains the library binary.


Package: libcoil-dev
Architecture: any
Section: contrib/libdevel
Depends: uuid-dev, libcoil (= ${binary:Version}), ${misc:Depends}
Description: Internal OpenRTM library (development files)
 Internal OpenRTM library which should only be used in
 in coordination with libopenrtm.
 .
 This package contains the library development files.

Package: libcoil-dbg
Architecture: any
Section: contrib/debug
Depends: libcoil (= ${binary:Version}), ${misc:Depends}
Description: Internal OpenRTM library (debugging files)
 Internal OpenRTM library which should only be used in
 in coordination with libopenrtm.
 .
 This package contains the library debugging files.

Package: libopenrtm-aist
Architecture: any
Pre-depends: ${misc:Pre-Depends}
Depends: omniorb-nameserver, libcoil (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, python (>= 2.6)
Description: Component-oriented robotics system development platform
 Development platform allowing robotics system design by writing
 RT-components and connecting them together.
 .
 This package contains the C++ version of this software.

Package: libopenrtm-aist-dev
Architecture: any
Section: contrib/libdevel
Depends: libcoil-dev (= ${binary:Version}), libopenrtm-aist (= ${binary:Version}), libboost-all-dev, libomniorb4-dev, uuid-dev, libelf-dev, omniidl, ${misc:Depends}
Suggests: libopenrtm-aist-doc (= ${binary:Version})
Description: Component-oriented robotics system development platform (development files)
 Development platform allowing robotics system design by writing
 RT-components and connecting them together.
 .
 This package contains the development files for the C++ version of
 this software.

Package: libopenrtm-aist-dbg
Architecture: any
Section: contrib/debug
Depends: libopenrtm-aist (= ${binary:Version}), libcoil-dbg (= ${binary:Version}), ${misc:Depends}
Description: Component-oriented robotics system development platform (debugging files)
 Development platform allowing robotics system design by writing
 RT-components and connecting them together.
 .
 This package contains the debugging information for the C++ version
 of this software.

Package: libopenrtm-aist-doc
Architecture: all
Section: contrib/doc
Depends: ${misc:Depends}
Description: Component-oriented robotics system development platform (documentation)
 Development platform allowing robotics system design by writing
 RT-components and connecting them together.
 .
 This package contains the documentation for the C++ version of
 this software.
