Source: openrtm-aist
Priority: extra
Maintainer: Thomas Moulard <thomas.moulard@gmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf,
	       pkg-kde-tools (>= 0.6),
	       autotools-dev,
	       doxygen, doxygen-latex,
	       graphviz,
	       libboost-all-dev,
	       uuid-dev,
	       libomniorb4-dev,
	       omniidl,
	       omniorb-nameserver,
	       python, python-yaml,
	       libelf-dev
Standards-Version: 3.9.4
Section: science
Homepage: http://www.openrtm.org/
Vcs-Browser: http://git.debian.org/?p=debian-science/packages/openrtm-aist.git
Vcs-Git: git://git.debian.org/debian-science/packages/openrtm-aist.git

Package: libcoil
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Internal OpenRTM library
 Internal OpenRTM library which should only be used in
 in coordination with libopenrtm.
 .
 This package contains the library binary.


Package: libcoil-dev
Architecture: any
Section: libdevel
Depends: uuid-dev, libcoil (= ${binary:Version}), ${misc:Depends}
Multi-Arch: same
Description: Internal OpenRTM library - development files
 Internal OpenRTM library which should only be used in
 in coordination with libopenrtm.
 .
 This package contains the library development files.

Package: libcoil-dbg
Architecture: any
Section: debug
Depends: libcoil (= ${binary:Version}), ${misc:Depends}
Multi-Arch: same
Description: Internal OpenRTM library - debugging symbols
 Internal OpenRTM library which should only be used in
 in coordination with libopenrtm.
 .
 This package contains the library debugging symbols.

Package: libopenrtm-aist
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: omniorb-nameserver, libcoil (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Component-oriented robotics middleware
 Development platform allowing robotics system design by writing
 RT-components and connecting them together.
 .
 This package contains the C++ version of this software.

Package: libopenrtm-aist-dev
Architecture: any
Section: libdevel
Depends: libcoil-dev (= ${binary:Version}), libopenrtm-aist (= ${binary:Version}), libboost-all-dev, libomniorb4-dev, uuid-dev, libelf-dev, omniidl, ${misc:Depends}
Suggests: libopenrtm-aist-doc (= ${binary:Version})
Multi-Arch: same
Description: Component-oriented robotics middleware - development files
 Development platform allowing robotics system design by writing
 RT-components and connecting them together.
 .
 This package contains the development files for the C++ version of
 this software.

Package: libopenrtm-aist-dbg
Architecture: any
Section: debug
Depends: libopenrtm-aist (= ${binary:Version}), libcoil-dbg (= ${binary:Version}), ${misc:Depends}
Multi-Arch: same
Description: Component-oriented robotics middleware - debugging symbols
 Development platform allowing robotics system design by writing
 RT-components and connecting them together.
 .
 This package contains the debugging information for the C++ version
 of this software.

Package: libopenrtm-aist-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Multi-Arch: foreign
Description: Component-oriented robotics middleware - documentation
 Development platform allowing robotics system design by writing
 RT-components and connecting them together.
 .
 This package contains the documentation for the C++ version of
 this software.

Package: libopenrtm-aist-tools
Architecture: any
Section: doc
Depends: libopenrtm-aist (= ${binary:Version}),
	 python,
	 ${shlibs:Depends},
	 ${misc:Depends}
Multi-Arch: foreign
Description: Component-oriented robotics middleware - tools
 Development platform allowing robotics system design by writing
 RT-components and connecting them together.
 .
 This package contains additional tools for OpenRTM.
