#!/usr/bin/make -f
# -*- makefile -*-

# Hardening flags.
export DEB_BUILD_MAINT_OPTIONS=hardening=+all,-pie

CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
CFLAGS:=$(shell dpkg-buildflags --get CFLAGS)
CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS)
LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS) -Wl,--as-needed

.PHONY: override_dh_autoreconf override_dh_strip

%:
	dh  $@  --parallel --with pkgkde-symbolshelper,autoreconf

override_dh_autoreconf:
	dh_autoreconf --as-needed build/autogen

override_dh_strip:
	dh_strip -plibcoil --dbg-package=libcoil-dbg
	dh_strip -plibopenrtm-aist --dbg-package=libopenrtm-aist-dbg
	dh_strip -plibopenrtm-aist-tools
