#!/usr/bin/make -f
# -*- makefile -*-

# Hardening flags.
export DEB_BUILD_MAINT_OPTIONS=hardening=+all,-pie

CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
CFLAGS:=$(shell dpkg-buildflags --get CFLAGS)
CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS)
LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS) -Wl,--as-needed

#export DEBUILD_DPKG_BUILDPACKAGE_OPTS="-I.svn -I.git"

.PHONY: override_dh_strip

%:
	dh  $@  --parallel --with pkgkde-symbolshelper

override_dh_strip:
	dh_strip -plibcoil --dbg-package=libcoil-dbg
	dh_strip -plibopenrtm-aist --dbg-package=libopenrtm-aist-dbg
	dh_strip -plibopenrtm-aist-tools
