#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DEBUILD_DPKG_BUILDPACKAGE_OPTS="-I.svn -I.git"

.PHONY: override_dh_stripx

%:
	dh  $@

override_dh_strip:
	dh_strip -plibcoil --dbg-package=libcoil-dbg
	dh_strip -plibopenrtm-aist --dbg-package=libopenrtm-aist-dbg
